/*Home Page*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'tesla';
    src: url('fonts/TESLA.ttf') format('truetype');
}

body {
    width: 100%;
    height: 100%;
}
    
.grid-container {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    background-image: url("../images/red-roadster.jpg");
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

/*Tesla Button*/
.tesla {
    grid-row: 1/2;
    grid-column: 1/5;
    padding: 1.2%;
    font-size: 2.5vw;
    font-family: 'tesla'; 
    color: black;
}

.tesla a {
    color: black;
    transition: 0.3s ease;
    text-decoration: none;
}

.tesla a:link {
    color: black;
    text-decoration: none;
}

.tesla a:hover {
    transition: 0.3s ease;
    color: #979797;
    text-decoration: none;
}

.tesla a:active {
    color: #979797;
    text-decoration: none;
}

/*Navigation Bar*/

.navigation {
    grid-row: 1/2;
    grid-column: 1/7;
    text-align: center;
}

.navigation {
    padding: 0.9%;
}

.navigation a {
    padding: 1%;
    color: black;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    transition: 0.3s ease;
}

.navigation a:hover {
    color: #979797;
    transition: 0.3s ease;
}

.navigation a:link {
    color: #979797;
    transition: 0.3s ease;
}

.navigation a:active {
    color: #979797;
}

/*Hover Paragraphs*/

.b1 {
    grid-row: 2/4;
    grid-column: 1/4;
    text-align: right;
    padding-right: 5%;
}

.b2 {
    grid-row: 2/4;
    grid-column: 4/7;
    text-align: left;
    padding-left: 5%;
}

.home-button {
    padding-top: 1%;
    padding-bottom: 1.5%;
    padding-left: 12%;
    padding-right: 12%;
    border-radius: 5vw;
    border: 0.15vw solid black;
    font-family: 'Exo 2', sans-serif;
    font-size: 1vw;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.3s ease;
    color: black;
}

.home-button:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: 0.3s ease;
}

/*Specifications Page*/ 
.grid-container2{ 
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-template-columns: 20% 20% 20% 20% 20%;
        width: 100%;
        height: 100%;
        background-image: url("../images/white-roadster.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .tesla2 {
        grid-row: 1;
        grid-column: 1; 
        color: white;
        text-decoration: white;
    }

    .tesla2 a{
        grid-row: 1/2;
        grid-column: 1/5;
        font-size: 2vw;
        font-family: 'tesla'; 
        color: white; 
        text-decoration: white none;
    } 
    .tesla2 a:active{ 
        color: black;
        text-decoration: none black;
    } 
    .specp{ 
        background-color: white;
        font-size: 2vw; 
        column-span: 2 / 5; 
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        padding: auto;
    } 
    .box1{ 
        grid-row: 2/5;
        grid-column: 1/6; 
        padding-top: 50vh;
        margin: 5vh;
    }
    .navigation2 {
        padding-top: 5%; 

        grid-row: 1;
        grid-column: 1/6;
    }
    
    .navigation2 a {
        padding: 1%;
        color: white;
        text-decoration: none;
        font-size: 2vw;
        font-family: 'Exo 2', sans-serif;
        font-weight: bold;
        transition: 0.3s ease;
    }
    
    .navigation2 a:hover {
        color: black;
        transition: 0.3s ease;
    }
    
    .navigation2 a:link {
        color: white;
        transition: 0.3s ease;
    }
    
    .navigation2 a:active {
        color: white;
    }